:root{
    --primary-color: #d67733; /*orange*/
    --secondary-color: #630436; /*purple*/
    --tertiary-color: #80ff80; /*green*/
    --dark-gray: #222;
}
body{
    color: var(--dark-gray);
    background-color: var(--primary-color);
    font-family: Consolas, sans-serif;
}
.container{
    display: flex;
    align-items: center;
}
header{
    align-self: center;
}
header{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 1em;
}
/*dark mode*/
.dark {
    color: var(--primary-color);
    background-color: var(--dark-gray);
}
/*responsive*/
