/* color palette */
:root{
    --dark-gray: #222;
    --off-white: #ddd;
    --light-green: #4AF626;
    --dark-green: #456404;
    --light-purple: #f0b8fc;
    --dark-purple: #630436;
}
/* common elements */
body{
    color: var(--dark-green);
    background-color: var(--off-white);
    font-family: Consolas, sans-serif;
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration-line: none;
}
ul,li{
    list-style-position: outside;
    margin:0;
    padding:0;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* attempted to organize the rulesets */
/* according to the order the elements appear in the page */
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header, footer{
    width: 100%;
}
#content{
    padding: 0;
    display: flex;
    flex-direction: column;
}
#content, nav{
    width: 90%;
}
nav, article, section{
    display: flex;
}
#content div{
    padding: 1em 0;
}
header h1{
    margin-left: 5%;
}
nav{
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em;
    border-bottom: 2px solid var(--dark-purple);
}
/* sections flex to side, articles flex down */
article{
    padding: 1em;
    flex-direction: column;
    min-width: 25%;
    text-align: center;
}
article h3, article h4{
    text-align: center;
}
section{
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-purple);
}
section article{
    text-align: left;
}
section section{
    align-items: center;
}
section:last-of-type{
    border: 0;
}
footer{
    padding: 2em;
    background-color: var(--dark-purple);
    color: var(--dark-green);
    margin-top: auto;
    text-align: center;
}
footer a{
    color: var(--light-green);
}
#display-toggle{
    position: fixed;
    top:0;
    right: 0;
}

/* -- dark mode -- */
.dark, .dark h1 {
    color: var(--light-green);
    background-color: var(--dark-gray);
}
.dark a, footer{
    color: var(--light-purple);
}

/* mobile responsive */
@media screen and (max-width: 600px) {
    body{
        font-size: 8vw;
    }
    header{
        padding: 0;
    }
    #content, nav, section, article{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    article{
        padding: 1em;
    }
    nav{
        background-color: var(--dark-green);
        border:0;
    }
    a{
        margin: 1em;
    }.dark nav {
        background-color: var(--dark-purple);
    }
    li{  
        list-style-position: inside;
    }
}
