:root{
    --primary-color: #ffcc88; /*orange*/
    --secondary-color: #630436; /*purple*/
    --tertiary-color: #30AA17; /*green*/
    --dark-gray: #222;
    --off-white: #ddd;
    --light-green: #4AF626;
    --dark-green: #057d2c;
    --light-purple: #f0b8fc;
    --dark-purple: #630436;
}
body{
    color: var(--dark-green);
    background-color: var(--off-white);
    font-family: Consolas, sans-serif;
    margin: 0;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
a {
    text-decoration-line: none;
}
ul,li{
    list-style-type: none;
    margin:0;
    padding:0;
}
img{
    max-height: 50vh;
    max-width:100%;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header, footer, article{
    width: 100%;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content, nav{
    width: 90%;
}
/* text content */
nav, article, section{
    display: flex;
}
header, #container div, section{
    padding: 1em;
}
header h1{
    margin-left: 5%;
}
nav{
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em;
    border-bottom: 2px solid var(--secondary-color);
}
/* sections flex to side, articles flex down */
article{
    padding: 0.5em;
    flex-direction: column;
    min-width: 25%;
}
section{
    border-bottom: 1px solid var(--dark-purple);
}
section:last-of-type{
    border: 0;
}
footer{
    padding: 2em;
    background-color: var(--dark-purple);
    color: var(--tertiary-color);
    margin-top: auto;
    text-align: center;
}
footer a{
    color: var(--tertiary-color);
}
#display-toggle{
    position: fixed;
    top:0;
    right: 0;
}

/* -- dark mode -- */
.dark, .dark h1 {
    color: var(--light-green);
    background-color: var(--dark-gray);
}
.dark a{
    color: var(--light-purple);
}

/* -- responsive -- */
/* desktop */
@media screen and (max-width: 1024px) {
    
}
/* mobile */
@media screen and (max-width: 600px) {
    header{
        padding: 0;
    }
    nav, section, article{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    nav{
        background-color: var(--dark-green);
        border:0;
    }
    a{
        margin: 1em;
    }.dark nav {
        background-color: var(--dark-purple);
    }
}
